body
{
    background-color: dodgerblue;
}

#bg 
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body > .grid
{
    height: 100%;
}

.image
{
    margin-top: -100px;
}

.column-login
{
    margin-top: 25vh;
    max-width: 450px;
}

.column-home
{
    margin-top: 40px;
    max-width: 600px;
    width: 450px;
    z-index: 1;
}